<a href="https://colab.research.google.com/github/Brandon9107/CSC221_bsook001/blob/main/Assignment5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
magicians=['alice', 'david', 'carolina']
for magician in magicians:
  print(magician)

alice
david
carolina

In [4]:
even_number=list(range(2,11,2))
print(even_number)

[2, 4, 6, 8, 10]

In [7]:
squares=[]
for value in range(1,13):
  square=value**2
  squares.append(square)
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144]

In [8]:
squares=[value**2 for value in range(1,11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [9]:
dimensions=(200,50)
print(dimensions[0])
print(dimensions[1])

200
50

Factorial

In [27]:
def factorial(n):
  integers=[]
  products=1
  if n==1:
    return (n)
  else:
    for integer in range(1,n+1):
      integers.append(integer)
    for integer in integers:
      products=products*integer
    return products
print(factorial(5))
print(factorial(10))
print(factorial(20))
print(factorial(50))

120
3628800
2432902008176640000
30414093201713378043612608166064768844377641568960512000000000000

special factorial

In [40]:
def special_factorial(n):
  integers=[]
  products=1
  if n==1:
    return (n)
  else:
    for integer in range(1,n+1):
      integers.append(integer)
      if integer==(4) or integer==(13) or integer==(22):
        integers.remove(integer)
    for integer in integers:
        products=products*integer
    return products
print(special_factorial(5))
print(special_factorial(10))
print(special_factorial(20))
print(special_factorial(50))

30
907200
46786577080320000
26585745805693512275885146998308364374455980392448000000000000